.site-header {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  background-color: #3d1005;
  border: 1px solid #dddd;
  border-radius: 12px;
  width: auto;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-left,
.nav-right {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 300px;
}

.nav-left a,
.nav-right a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ebebeb;
  font-size: 18px;

}

body {
  background-color: #dfd8cd;
}

.background-image {
  position: relative;
  width: 100%;
  max-width: auto;
  margin: auto;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dfd8cd;
  text-align: center;
  background-color: rgba(61, 16, 5, 0.623);
  padding: 30px;
  border-radius: 20px;
}

.image-bg{
  width: 100%;
  height: 70%;
  display: block;
}

h2 {
  color: #3d1005;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
}

p {
  color: #3d1005;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: center;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px; border-radius: 14px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}

.div4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px; border-radius: 14px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
}

.div7 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px; border-radius: 14px;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.site-footer {
  background: #3d1005;
  padding: 3px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 100px;
}

.footer-about{
  display: flex;
  flex-direction: column;
  align-items: flex-start0;
  text-align: left;
  max-width: 300px;
}

.footer-about, .footer-links, .footer-contact {
  flex: 1;
  min-width: 220px;
  margin: 10px;
  max-width: 300px;
  color: #dfd8cd;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #dfd8cd;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #ab653d;
}

.social-icons a img {
  width: 32px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 3px solid #dfd8cd;
  padding-top: 10px;
  font-size: 14px;
  color: #3d1005;
}

.h3{
  color: #dfd8cd;
}

.p3{
  color: #dfd8cd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 0 0 10px 0;
}  

.p4{
  color: #dfd8cd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}