.sit-header {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  background-color: #3d1005;
  border: 1px solid #dddd;
  border-radius: 12px;
  margin: 20px auto;
  width: 90%;
  max-width: 1920px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-left,
.nav-right {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 200px;
}

.nav-left a,
.nav-right a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ebebeb;
  font-size: 16px;

}

body {
  background-color: #dfd8cd;
  margin: 32px;
}

.background-image {
  color: #dfd8cd;
  font-family: fantasy;
  font-size: 80px;
  stroke: #dfd8cd;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: url(https://iguide.ai/_next/image?url=https%3A%2F%2Fimg.iguide.ai%2Fmedia%2Fca-phe-moc-viet-autogrill-vfs-fb_ca%20phe%20muoi.webp&w=1080&q=75);
}

h2{
  color: #3d1005;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
}

p{
  color: #3d1005;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-left: 60px; margin-right: 60px;
  text-align: center;
}

.group-photos{
  display: flex;
  justify-content: center; gap: 200px;
}