*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 100vh;
  background: url(abc.jpg);
  background-size: cover;
  
}
nav{
  width: 100%;
  height: 100px;
  background-color: red;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: xx-large;
  padding-left: 30px;
}
.menu a{
  text-decoration: none;
  padding: 10px 70px;
  color: aliceblue;
  font-size: 23px;
}
h1{
  font-size: 280px;
  color: rgba(240, 248, 255, 0);
  -webkit-text-stroke: 5px #7E3515;
  padding-top: 265px;
  padding-left: 15px;
}
h2{
  font-size: 60px;
  padding-left: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #D4BBA4;
}
.text{
  font-size: 35px;
  padding-left: 30px;
  color: #E0D8CD;
}
h3{
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 10px;
    color: #D4BBA4;
}
.description{
  font-size: 23px;
  text-align: center;
  padding-bottom: 20px;
  color: #E0D8CD;
}
.container .box{
  display: grid;
  grid-template-columns: repeat(autofit,minmax(270px,1fr));
  gap: 15px;
  box-shadow: 0 5px 10px color(red);
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.card{
  width: 500px;
  background-color: rgb(255, 51, 0);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
}
.card-content{
  padding: 30px;
}
.card-content h4{
  font-size: 30px;
  margin-bottom: 8px;
  text-align: center;
}
.card-content p{
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}
.lastpart h5{
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  margin-bottom: 300px;
  padding: 50px;
  background-color: brown;
}
body{
  background-color: rgb(97, 15, 15);
}
